# keys and stuff
.env
.gcp-service-account.json
# dbt
profiles.yml
dbt/logs
dbt/dbt_packages
dbt/target
dbt/.user.yml
dbt/models/test_queries.sql
# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
testing_stuff.ipynb
# unnecessary folder that was used just for testing
sample_invoices